* {
  padding: 0;
  margin: 0;
}

.home-background {
  background: url("../public/images/bgi.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



/* .mask {
  background-color: rgba(173, 173, 173, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
} */
.dashboard-background {
  background: url("../public/images/dashboard-bgi.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.dashboard-cards {
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.8);
  width: 18vw;
  height: 50vh;
  border-radius: 2rem;
  margin: 0 20px 20px;
  position: relative;
  bottom: 20vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.dashboard-title{
  margin-top: 20%;
  color:rgb(12, 12, 12);
}
.dashboard-subtitle,
.dashboard-description {
  margin-top: 10px;
  color: rgb(49, 49, 49);

}

.puff-in-bottom {
  font-size: 8rem;
  -webkit-animation: puff-in-bottom 1.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-bottom 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.home-btn {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 20vh;
}
.home-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.tracking-in-expand2 {
  -webkit-animation: tracking-in-expand 2.2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 2.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.tracking-in-expand3 {
  -webkit-animation: tracking-in-expand3 3.2s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand3 3.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand2 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand2 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand3 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand3 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.dash-icon{
  font-size: 100px;
color: rgb(89, 89, 89);

}
.dash-icon:hover{
  font-size: 105px;
color: rgb(189, 164, 130);
cursor: pointer;

}